.workshop-card {
  border: 1px solid color(light, 200);
  margin-left: 30px;
  border-radius: 8px;
  max-width: 320px;

  &-img {
    width: 320px;
    height: 180px;
    margin-bottom: 20px;
  }

  &-info {
    margin: 0px 38px 37px;

    &-date-time {
      @include flex-row(flex-start);
      margin-bottom: 10px;

      &-view {
        @include flex-row(flex-start)
      }

      img {
        width: 18px;
        height: 18px;
      }

      p {
        font-size: 1.5rem;
        color: color(dark, 300);
        margin-left: 3px;
      }
    }

    h4 {
      font-size: 2.7rem;
      color: color(secondary, 500);
      margin-bottom: 10px;
    }
  }
}

@include card-course-price;