$colors: (
  primary: (
    400: #FFCE25,
    500: #FFC80C
  ),
  secondary: (
    400: #00AAE4,
    500: #0097CC
  ),
  danger: (
    300: #FF392E,
  ),
  dark: (
    300: #1D1D1B,
    400: #0D0D0D,
    500: #000
  ),
  light: (
    100: #fff,
    200: #F2F2F2,
    300: #7F7F7F
  ),
);