.workshops-page {
  margin: 60px 0px 55px 10px;

  &-title {
    font-size: 4rem;
    line-height: 5rem;
    color: color(dark, 300);
    margin-left: 20px;
  }

  &-text-view {
    @include flex-row(flex-row);
    margin-left: 20px;

    .displayed-text {
      font-size: 1.5rem;
      line-height: 1.87rem;
      color: color(light, 300);
    }

    .displayed-number {
      font-size: 1.5rem;
      line-height: 1.87rem;
      color: color(dark, 300);
    }
  }

  &-cards-view {
    @include flex-row(flex-start, flex-start);
    flex-wrap: wrap;

    .workshop-card-view {
      margin: 40px 20px 0px;
    }
  }

  &-load-more-view {
    @include flex-row(flex-end);
    margin-right: 17%;
    margin-top: 40px;

    p {
      font-size: 1.8rem;
      line-height: 2.25rem;
      color: color(dark, 300);
      cursor: pointer;
      padding-bottom: 3px;
      border-bottom: 2px solid color(secondary, 500);
    }
  }
}

.display-none {
  display: none;
}