footer {
  margin-top: auto;
  width: 100%;
  background-color: color(light ,200);

  p {
    font-size: 1.5rem;
    font-weight: 600;
    color: color(light, 300);
    margin-top: 30px;
    margin-bottom: 31px;
    margin-left: 5.5%;
  }
}