.sidebar {
  @include flex-row(flex-start, flex-start);

  &-view {
    @include flex-column(flex-start, flex-start);
    min-width: 350px;
    
    p {
      font-size: 1.5rem;
      color: color(light, 300);
      margin-top: 110px;
      margin-left: 58px;
      margin-bottom: 30px;
    }

    &-menu {
      @include flex-row(flex-start);
      margin-left: 20px;
      padding-bottom: 3px;
      margin-bottom: 25px;
      cursor: pointer;

      &-logo {
        width: 32px;
        height: 32px;
      }

      h5 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin-left: 5px;
        text-transform: capitalize;
      }
    }

    &-active {
      color: color(secondary, 500);
      border-bottom: 2px solid color(secondary, 500);
    }
  }
}