.sidebar {
  @include flex-row(flex-start, flex-start);
  position: sticky;
  top: 110px;

  &-view {
    @include flex-column(flex-start, flex-start);
    min-width: 350px;
    
    p {
      font-size: 1.5rem;
      color: color(light, 300);
      margin-top: 110px;
      margin-left: 58px;
      margin-bottom: 30px;
    }

    &-menu {
      @include flex-row(flex-start);
      margin-left: 20px;
      padding-bottom: 3px;
      margin-bottom: 25px;
      cursor: pointer;

      &-logo {
        color: color(dark, 300);
      }

      &-active-logo {
        color: color(secondary, 500);
      }

      h5 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin-left: 5px;
        text-transform: capitalize;
      }

      h5:nth-child(1) {
        margin-left: 37px;
      }
    }

    &-active {
      color: color(secondary, 500);
      border-bottom: 2px solid color(secondary, 500);
    }

    &-back-view {
      @include flex-row(flex-start);
      margin-top: 65px;
      margin-left: 25px;
      cursor: pointer;
  
      h6 {
        font-size: 1.5rem;
        color: color(dark, 300);
        margin-top: 4px;
        margin-left: 5px;
      }
    }
  }
}

.sidebar-main-align {
  @include flex-row($align: flex-start);
}
